PORT=4000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://buivandat2003hn_db_user:qqj5kkXcktXNe0D3@database.5s7bqmx.mongodb.net/?appName=database
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
